/* common shared styles */
body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Inter', sans-serif;
}

/* header section */
header{
    margin: 50px 140px 0px 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
}
.banner{
    border-radius: 16px;
    padding: 177px 344px 177px 344px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: cover;
}
#banner-greeting{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */

}

/* main section */
main{
    padding-right: 140px;
    padding-left: 140px;
}

.party-welcome{
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
    background-size: cover;
}


.place-section{
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tag-place{
    padding: 60px 386px 50px;
}

.tag-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
}
.tag-line{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
}

.img-container{
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-section{
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    border-radius: 16px 0px 16px 16px;
    /* background: #F00; */
    background-position: bottom;
}

.container{
    display: flex;
    gap: 20px;
}
.item{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}
.item:hover,button:hover{
    transform: scale(0.9);
}

.subscribe-section{
    width: 1320px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

label{
    display: flex;
    padding: 2px 256px 80px;
}
input[type="email"]{
    border-radius: 50px;
    background: #FFF;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
input[type="submit"]{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
}

input::placeholder{
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px ;
}


/* footer section */
footer{
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

hr{
    margin-left: 140px;
    margin-right: 140px;
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
}

.footer-icon{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}